body{
    height: 100vh;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;;
}

h1{
    color: rgb(255, 255, 255);
}

.container{
    margin-top: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.container div{
    height: 200px;
    width: 200px;
}

.red{
    background-color: rgb(255, 8, 0);
    transition: transform 0.1s, height 0.1s, width 0.1s;
    transform-origin: center;
}

.red:hover {
    transform: scale(0.95);
  }

.blue{
    background-color: lightblue;
    transition: transform 0.1s, height 0.1s, width 0.1s;
    transform-origin: center;
}
.blue:hover {
    transform: scale(0.95);
  }

.yellow{
    background-color: yellow;
    transition: transform 0.1s, height 0.1s, width 0.1s;
    transform-origin: center;
}
.yellow:hover {
    transform: scale(0.95);
  }

.green{
    background-color: green;
    transition: transform 0.1s, height 0.1s, width 0.1s;
    transform-origin: center;
}
.green:hover {
    transform: scale(0.95);
  }